<a href="https://colab.research.google.com/github/encoras/Artificial-Intelligence-Group/blob/master/Intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>




# Introduction to Colab

##Go File new notebook. change name and save to google drive.

In [ ]:
# in code line, coment starts with #
# Press shift + enter to execiiute cell

# "Hello World"
print("Hello World!")

a= "Hello " "World 2!"

print(a)

"Hello World 3!"

In [ ]:
# Your name

In [ ]:
# StdOut()
import sys
sys.stdout.write("Hello, standard out! \n")

#Colours in notebook text: https://www.kaggle.com/discussions/general/273188

In [ ]:
print("\033[0;37;40m Normal text\n")
print("\033[2;37;40m Underlined text\033[0;37;40m \n")
print("\033[1;37;40m Bright Colour\033[0;37;40m \n")
print("\033[3;37;40m Negative Colour\033[0;37;40m \n")
print("\033[5;37;40m Negative Colour\033[0;37;40m\n")
print("\033[1;37;40m \033[2;37:40m TextColour BlackBackground TextColour GreyBackground WhiteText ColouredBackground\033[0;37;40m\n")
print("\033[1;30;40m Dark Gray \033[0m 1;30;40m \033[0;30;47m Black \033[0m 0;30;47m \033[0;37;41m Black \033[0m 0;37;41m")
print("\033[1;31;40m Bright Red \033[0m 1;31;40m \033[0;31;47m Red \033[0m 0;31;47m \033[0;37;42m Black \033[0m 0;37;42m")
print("\033[1;32;40m Bright Green \033[0m 1;32;40m \033[0;32;47m Green \033[0m 0;32;47m \033[0;37;43m Black \033[0m 0;37;43m")
print("\033[1;33;40m Yellow \033[0m 1;33;40m \033[0;33;47m Brown \033[0m 0;33;47m \033[0;37;44m Black \033[0m 0;37;44m")
print("\033[1;34;40m Bright Blue \033[0m 1;34;40m \033[0;34;47m Blue \033[0m 0;34;47m \033[0;37;45m Black \033[0m 0;37;45m")
print("\033[1;35;40m Bright Magenta \033[0m 1;35;40m \033[0;35;47m Magenta \033[0m 0;35;47m \033[0;37;46m Black \033[0m 0;37;46m")
print("\033[1;36;40m Bright Cyan \033[0m 1;36;40m \033[0;36;47m Cyan \033[0m 0;36;47m \033[0;37;47m Black \033[0m 0;37;47m")
print("\033[1;37;40m White \033[0m 1;37;40m \033[0;37;40m Light Grey \033[0m 0;37;40m \033[0;37;48m Black \033[0m 0;37;48m")

##Intro to Python

# statement 49

#expression a=49

In [ ]:
#Floating point
b=4.5896
c=2.

In [ ]:
#integer
d=2

In [ ]:
#complex
a=complex(1,2)

### function  `type`(???)

In [ ]:
#Function type()
type(c+d)

## Aritmetic expressions
`+` addition

`-` substract

`*` multiplication

`/` division

`**` exponental

// floor division

`%` modulo

In [ ]:
print()

In [ ]:
# sintax simplification
A=5
A=A*2

A*=2

## Logic

Variables: `True` or `False` and statement

if ( c o n d i t i o n):

      do_ ... _

In [ ]:
A=10.01
if (A > 10):
  print("A is more than 10")

In [ ]:
if True:
  print(not True)

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

## Functions

In [ ]:
#declare and name a function
def ktu(a,b):
  #add two numbers
  c= a+b
  return c

In [ ]:
b=ktu("hello "," world")
print(b)

##For loops
https://www.w3schools.com/python/python_for_loops.asp

In [ ]:
for x in range(2, 30, 3):
  print(x)