<a href="https://colab.research.google.com/github/encoras/Artificial-Intelligence-Group/blob/master/Pandasassignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

from geopy.distance import vincenty
import datetime
import time

### The beginning

#### Download individual file from https://s3.amazonaws.com/tripdata/index.html
The file title is 'YYYYMM-citibike-tripdata.csv.zip'
The LAST STUDENT digit from internal KTU code use for a Year definition i.e.
*   {0,1}==2017
*   {2,3}==2018
*   {4,5}==2019
*   {6,7,8,9}==2020
*   

Prefinal internal KTU code number - for mont definition MM=0x. if x=0, then MM=10
> Dowload file: 'YYYYMM-citibike-tripdata.csv.zip'

In [ ]:
citybike = pd.read_csv('https://s3.amazonaws.com/tripdata/202003-citibike-tripdata.csv.zip')

In [ ]:
citybike.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1589,2020-03-01 00:00:03.6400,2020-03-01 00:26:32.9860,224,Spruce St & Nassau St,40.711464,-74.005524,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,16214,Subscriber,1980,1
1,389,2020-03-01 00:00:16.7560,2020-03-01 00:06:46.0620,293,Lafayette St & E 8 St,40.730207,-73.991026,223,W 13 St & 7 Ave,40.737815,-73.999947,29994,Subscriber,1991,2
2,614,2020-03-01 00:00:20.0580,2020-03-01 00:10:34.2200,379,W 31 St & 7 Ave,40.749156,-73.991600,515,W 43 St & 10 Ave,40.760094,-73.994618,39853,Subscriber,1991,1
3,597,2020-03-01 00:00:24.3510,2020-03-01 00:10:22.3390,3739,Perry St & Greenwich Ave,40.735918,-74.000939,325,E 19 St & 3 Ave,40.736245,-73.984738,42608,Subscriber,1989,1
4,1920,2020-03-01 00:00:26.1120,2020-03-01 00:32:26.2680,236,St Marks Pl & 2 Ave,40.728419,-73.987140,3124,46 Ave & 5 St,40.747310,-73.954510,36288,Subscriber,1993,1

1. Find the total number of records and columns as well as statistics "describe" of the data.

In [ ]:
citybike.????

In [ ]:
citybike.???

2. Scatter plot data detween 'birth year' and 'tripduration' (use a **DF.plot.scatter**, s = 100) as well as **DF.plot.hist** of 'birth year' collumn into number of bins from your internal code 2 last digits xxxXX (bins=XX).

In [ ]:
citybike.plot.scatter(?????)

In [ ]:
citybike['birth year'].?????

Find average trip duration in minutes (column: tripduration) with 2 numbers precision (use 'round' function).

In [ ]:
citybike['tripduration'].????

How many trips have started and ended at the same station?

In [ ]:
citybike?????

How many trips have stared and ended at the same station with the UNIQUE bike_ID? (i.e. DF.unique().shape)

In [ ]:
citybike?????????

Which bike was most offten used (bikeid) in a town and how many times?

In [ ]:
citybike['bikeid'].?????????

Find a bike (bikeid), who had the longest trip duration on average. (i.e. use a **DF.mean()** and **sort_values()**)

In [ ]:
citybike.groupby('bikeid')['tripduration'].?????????

Find the number of missing records (i.e. null) in the column 'start station id'.

In [ ]:
citybike?????????

Find the average distance between stations (apriory removing lines: start station id = end station id). 

Hint: use the library **geopy** and distance measure **vincenty** (min distance between two geo locations)

In [ ]:
citybike['distance_km'] = citybike.apply(lambda x: vincenty((x['start station latitude'], x['start station longitude']),
                                                            (x['end station latitude'], x['end station longitude'])).kilometers, axis=1)